* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.text1 h1 {
    font-size: 40px;
    font-weight: bold;
}

.text1 p {
    font-weight: 300;
}

.text1 button {
    background-color: #E56639;
    padding: 12px 25px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    color: azure;
    border: none;
}


.text1 button:hover {
    background-color: white;
    border: solid 1px #E56639;
    color: #E56639;
}

.colors1 {
    text-align: center;

}

.colors1 button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;


}

.ss:hover {
    border: solid 1px #E56639;
    color: #E56639;
}

.mm:hover {
    border: solid 1px #E56639;
    color: #E56639;
}

.ll:hover {
    border: solid 1px #E56639;
    color: #E56639;
}

.xll:hover {
    border: solid 1px #E56639;
    color: #E56639;
}

.cartbtn {
    background-color: #E56639;
    font-weight: bold;
}

.cartbtn:hover {
    color: #E56639;
    background-color: white;
    border: solid 2px #E56639;

}

.btnshop1 {
    background-color: #E56639;
}

.btnshop1:hover {
    color: #E56639;
    background-color: #666666;
    border: solid 1px #E56639;
}

.card {
    border-radius: 20px;
    margin-bottom: 80px;
}


.thirdpart {
    background-color: #666666;
}


/* .colors1 input {
    height: 50px;
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

} */

 .design button {
    border-radius: 50px;
    background-color: bisque;
    color: red;
    height: 60px;
    width: 60px;
    font-size: 30px;
    border: none;
} 

.btnshop2 button{
    background-color:#E56639;
    font-weight: bold;
    font-size: 20px;

}

.btnshop2 button:hover {
    color: #E56639;
    background-color: white;
    border: solid 2px #E56639;

}









.vbydv {
    color: white;
    background-color: rgb(97, 97, 97);

}

.logo1 button {
    border-radius: 50px;
    background-color: rgb(74, 17, 17);
    color: white;
    height: 60px;
    width: 60px;
    font-size: 30px;
    border: none;
    margin: 5px;
}

.Sub button:hover {
    background-color: white;
    color: rgb(255, 255, 255);
    border: solid rgb(23, 6, 0);
}

.firstcrd {
    border-radius: 25px;
}